{{#if addNewPost}}
  <div class="container">
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        {{input value=title id="value"}}
      </div>
    </form>
  </div>
{{else}}
{{/if}}
