
<div class="container">
  <div class="row">
    {{#each post as |post|}}
      <div class='col s12 m6'>
        {{#md-card title=post.title}}
        {{#md-card-content}}
          {{post.author}}
        {{/md-card-content}}
        {{#md-card-action}}
        {{#link-to 'post' post.id}}<span class='purple-text'>View the question</span>{{/link-to}}
        {{/md-card-action}}
        {{/md-card}}
      </div>
    {{/each}}
  </div>
</div>
