
<div class="container">
  <div class="row">
    {{#each post as |post|}}
      <div class='col s6'>
        {{#md-card }}
        {{#md-card-content}}
        <h3>{{post.title}}</h3>
        <h4>By, {{post.author}}</h4>
        {{/md-card-content}}
        {{#md-card-action}}
        {{#link-to 'post' post.id}}<span class='purple-text'>View the question</span>{{/link-to}}
        {{/md-card-action}}
        {{/md-card}}
      </div>
    {{/each}}
  </div>
</div>
