{{post-detail post=model deleteComment='deleteComment' deletePost='deletePost' updatePost="updatePost" addToBookmarks='addToBookmarks'}}
{{new-comment post=model  saveComment='saveComment'}}
<h4>Bookmarked: </h4>
{{display-bookmarks}}
{{liquid-outlet}}
